<mat-toolbar color="primary">
    <span>Person API</span>
    <span class="spacer"></span>
    <mat-form-field class="viewSelector">
        <mat-select [(value)]="view">
            <mat-option value="table">
                <span>Table</span>
            </mat-option>
            <mat-option value="card">
                <span>Card</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button class="deleteAll" (click)="deleteAll()" color="accent">
        <mat-icon>delete</mat-icon>
        <span>All</span>
    </button>
    <button mat-mini-fab (click)="addPerson()"> 
        <mat-icon>person_add</mat-icon>
    </button>
</mat-toolbar>
<!-- card view -->
<app-people-card *ngIf="view === 'card'" class="people" [addPerson]="addPerson$"></app-people-card>
<!-- table view -->
<app-people-table *ngIf="view === 'table'" class="people" [addPerson]="addPerson$"></app-people-table>
